# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystems are summarized.
**Objectives:**

- Get an overview of code and markdown cells
- Execute an existing code cell
- Insert and delete a code cell
- Write comments in Python
- Create and use Markdown cells

Some of the popular languages that Data Scientists use are:
   
   1. Python
   2. R
   3. SQL
   4. Julia

Some of the commonly used libraries used by Data Scientists include:
   
   1. Pandas
   2. NumPy
   3. Matplotlib
   4. Scikit-learn

   | Data Science Tools      |
   |-------------------------|
   | Jupyter Notebook        |
   | RStudio                 |
   | Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

## Author
Nguyen Thi Thanh Nga